{{ template "layout" .}}

{{ define "main" }}
<div class="pt-10 border-t border-gray-200">
    <div class="overflow-x-auto overflow-y-auto max-h-72">
        <div class="inline-block min-w-full">
            <div class="border border-gray-200 overflow-hidden rounded-lg">
                <table class="bg-white divide-y divide-gray-200 min-w-full">
                    <thead class="bg-gray-50">
                        <tr>
                            <th class="px-6 py-3 text-left text-xs font-bold uppercase text-gray-500 tracking-wider">
                                No
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-bold uppercase text-gray-500 tracking-wider">
                                Title
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-bold uppercase text-gray-500 tracking-wider">
                                Price
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-bold uppercase text-gray-500 tracking-wider">
                                Description</th>
                            <th class="px-6 py-3 text-left text-xs font-bold uppercase text-gray-500 tracking-wider">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        {{ range $index, $element := .Data }}
                        <tr>
                            <td class="px-6 py-4 whitespace-nowrap text-gray-900">{{ add $index 1 }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-gray-900">{{ .Title }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-gray-900">{{ .Price }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-gray-900">{{ .Description }}</td>
                            <td class="px-6 py-4 whitespace-nowrap text-gray-900 flex justify-between">
                                <a href="/book/edit?id={{ .ID }}"
                                    class="d-block text-yellow-500 mr-4 hover:text-yellow-600 font-medium">Edit</a>
                                <a href="/book/delete?id={{ .ID }}"
                                    class="d-block text-red-600 hover:text-red-800 font-medium">Delete</a>
                            </td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{{ end }}