{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .WebData.Title }}</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="h-screen flex justify-center items-center bg-gray-100">
    <div class="py-12 lg:px-16 px-8 shadow-md bg-white lg:rounded-lg w-full lg:w-8/12">
        <div class="flex justify-between">
            <h1 class="text-3xl font-medium mb-3 text-gray-800">{{ .WebData.Title }}</h1>
            {{ if eq .WebData.Title "Book List" }}
            <a href="/book/create"
                class="mb-auto flex mt-1 text-sm font-medium bg-blue-500 py-1 px-2 text-white rounded hover:bg-blue-700 cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 w-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                </svg>
                <span>Create Book</span>
            </a>
            {{ end }}
        </div>
        {{ template "main" .}}
    </div>
</body>

</html>
{{ end }}